.DS_Store
/ReadDep/Package.resolved
DerivedData
ReadDeps/Package.resolved
*.epub
ReadDeps/Package.resolved
Read/Assets.xcassets/Image.imageset
ReadDeps/Package.resolved
.masteringsfmlgamedevelopment.epub.icloud
